<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sala - <%= room.courseName %></title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <% include ('header') %>

    <main class="container">
      <h3>Sala: <%= room.courseName %></h3>
      <p>Localização: <%= room.location %></p>
      <p>Semestre: <%= room.semester %></p>

      <section>
        <h5>Recursos Disponíveis:</h5>
        <ul>
          <% if (room && room.resources) { %> <%
          room.resources.forEach(function(resource) { %>
          <li>
            <%= resource.name %> - <%= resource.available ? 'Disponível' :
            'Indisponível' %>
          </li>
          <% }); %> <% } else { %>
          <li>Nenhum recurso disponível</li>
          <% } %>
        </ul>
      </section>

      <section>
        <h5>Características da Sala:</h5>
        <ul>
          <% room.features.forEach(function(feature) { %>
          <li><%= feature %></li>
          <% }); %>
        </ul>
      </section>

      <section>
        <h5>Alertas de Manutenção:</h5>
        <ul>
          <% room.alerts_manutencao.forEach(function(alert) { %>
          <li>
            Recurso: <%= alert.resource %>, Descrição: <%= alert.descricao %>
          </li>
          <% }); %>
        </ul>
      </section>
    </main>

    <% include ('footer') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  </body>
</html>
