<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sala - <%= classroom.courseName %></title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <% include ('header') %>

    <main>
      <div class="container">
        <h3>Sala: <%= classroom.courseName %></h3>
        <p>Localização: <%= classroom.location %></p>
        <p>Semestre: <%= classroom.semester %></p>
        <h5>Recursos Disponíveis:</h5>
        <ul>
          <% classroom.resources.forEach(resource => { %>
          <li>
            <%= resource.name %> - <%= resource.available ? 'Disponível' :
            'Indisponível' %>
          </li>
          <% }) %>
        </ul>
        <h5>Recursos Disponíveis:</h5>
        <ul>
          <% classroom.features.forEach(feature => { %>
          <li><%= feature %></li>
          <% }) %>
        </ul>
        <h5>Alertas de Manutenção:</h5>
        <ul>
          <% classroom.alerts_manutencao.forEach(alert => { %>
          <li>
            Recurso: <%= alert.resource %>, Descrição: <%= alert.descricao %>
          </li>
          <% }) %>
        </ul>
      </div>
    </main>

    <% include ('footer') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  </body>
</html>
